<div class="select">
  <div class="user">
    <div class="img">
      <div class="editview">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>
    <div class="name">Aditya</div>
  </div>

  <div class="user">
    <div class="img">
      <div class="editview">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>
    <div class="name">Max</div>
  </div>

  <div class="user">
    <div class="img">
      <div class="editview">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>
    <div class="name">Purple</div>
  </div>


  <div class="user" [routerLink]="['../edit']">
    <div class="new">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>
    <div class="name">Add Profile</div>
  </div>
</div>